body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(50, 2, 154);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 130px;
    width: 200px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.list-item {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 0 20px;
}

.nav-right {
    display: flex;
}

.login-button {
    padding: 10px 20px;
    margin: 20px;
    color: white;
    font-size: 18px;
    background-color: rgb(37, 3, 111);
    border-radius: 20px;
    border: 1px solid antiquewhite;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

.login-button:hover {
    background-color: rgb(37, 3, 111);
    transform: scale(1.05); 
}
.container{
    padding: 20px 100px;
}


.product-item {
    background-color: rgb(213, 215, 216);
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
    border: 1px solid white;
    width: calc(33% - 60px);
    display: block;
    flex-direction: column;
    align-items: center;
    height: 450px;
}


.product-grid-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-button{
    background-color: rgb(1, 180, 1);
    border-radius: 20px;
    color: white;
    height: 30px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}
.cart-button:hover{
        transform: scale(1.05); 
    }

.product-image {
    padding: 50px 20px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.add-to-cart{
    align-items: center;
    width: 100%;
    display: block;
    justify-content: center;
    border: none;
    margin: 5px auto;
}
.add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px auto;
}

.add-to-cart h3 {
    margin-bottom: 10px;
}

.cart-button {
    background-color: rgb(1, 180, 1);
    border-radius: 20px;
    color: white;
    height: 30px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color 0.3s, transform 0.3s; 
}


a{
    text-decoration: none;
    color: white;
}

